@import "tailwindcss";


@theme inline {
 --color-primary: #0092AB;
 --color-secondary: #FF6B4A;
 --color-headtext: #111827; /* Dark gray for headings */
  --color-bodytext: #4b5563; /* Medium gray for body text */
  --color-hover:#007A8F;
}

:root {
 

  /* Section spacing */
  --section-spacing: 3rem;     /* 48px mobil / default */
  --section-spacing-lg: 5rem;  /* 80px desktop */
}


html {
  overflow-x: hidden;
}

body {
  @apply text-white;
}

/* Section spacing helper class */
.section-spacing {
  padding-top: var(--section-spacing);
}


@media (min-width: 768px) {
  .section-spacing {
    padding-top: var(--section-spacing-lg);
  }
}